.myPagination{
    position: absolute;
    top: 224%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 20px;
    
   }
   
   .myList{
     list-style: none;
   }
   
   .my{
     display: block;
     width:40px;
     height:40px;
     text-align: center;
     line-height: 40px;
     text-decoration: none;
     background: #fff;
     color: #262626;
     border-radius: 4px;
     box-shadow: inset 0 5px 10px rgba(0,0,0, .1), 0 2px 5px rgba(0,0,0, .5);
     margin: 5px;
   }
   
   ul li:first-child a{
     border-radius: 18px 0 0 18px ;
   }
   
   ul li:last-child a{
     border-radius: 0 18px 18px 0;
   }
   
   ul li a:hover{
     background:aqua;
     color: #fff;
     text-decoration: none;
   }