html, body {
  box-sizing: border-box;
  background-color: teal;
  height: 100%;
  padding: 10px;
  margin: 0px;
}
.overview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  max-width: 500px;
}

.card-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 4em;
  margin-top: 7px;
}

.card,
.card-body,
.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-decoration: solid;
  text-align: center;
}

.card {
  border-radius: 18px;
  background: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s;
}
.card-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cardDescription{
  text-overflow: ellipsis;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.info {
  font-size: 0.9em;
  padding: 10px;
  color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.card button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: aqua;
  width: 80%;
  padding: 10px 50px 20px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.testimonials{
  display: flex;
  background: grey;
  justify-content: space-around
}


